html
{
    font-family: '微软雅黑';
}
body
{
    background:url("../images/bg.png") 0 0 no-repeat transparent;;
}
.container
{
    width: 1000px!important;
    min-width:1000px!important;;
}
.i-schedule
{
    margin: 20px 0;
}
.rollpic .prev,.rollpic .next{display:block; height:143px; width:40px; cursor:pointer; float:left; margin:0;padding:0;background: red;border: 0}
.rollpic .prev{background-position:0 0;}
.rollpic .next{background-position:0 -76px;}
.rollpicshow{float:left;width: 920px!important;border:0;}
.rollpicshow li{padding:0 0 0 11px;}